<template>
  <article class="Activity">
    <div class="Activity__Header">
      <h3>{{ activity.name }}</h3>
      <md-standard-icon-button
        @click="() => emits('edit', activity.id)"
        aria-label="Edit this activity"
        >edit</md-standard-icon-button
      >
    </div>
    <section class="Activity__Storage">
      <StorageSection
        :activity="props.activity"
        :location="Slot.self"
        class="Activity__SelfItems"
      ></StorageSection>
      <StorageSection
        :activity="props.activity"
        :location="Slot.combatBag"
        class="Activity__CombatBagItems"
      ></StorageSection>
      <StorageSection
        :activity="props.activity"
        :location="Slot.bag"
        class="Activity__BagItems"
      ></StorageSection>
    </section>
  </article>
</template>

<script lang="ts" setup>
import type { Activity } from './Activity'
import { Slot } from './Storage'
import StorageSection from './StorageSection.vue'

const props = defineProps<{
  activity: Activity
}>()

const emits = defineEmits<{
  (e: 'edit', id: Activity['id']): void
}>()
</script>
<style lang="scss">
@use 'assets/base.scss';

.Activity {
  display: grid;
  gap: 16px;
  padding: 8px;
  padding-bottom: 32px;

  &__Header {
    display: inline-flex;
  }

  &__Storage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
  }
}
</style>
