<template>
  <section class="Activities">
    <h2>Activities ({{ activities.size }})</h2>
    <div class="Activities__Bar">
      <md-outlined-text-field
        label="Name of activity to add"
        v-model="activityName"
        @keypress="checkSubmit"
      />
      <md-filled-icon-button
        class="Activities__Add"
        @click="addActivity"
        aria-label="Add new activity"
        >Add</md-filled-icon-button
      >
    </div>
    <section class="Activities__List">
      <ActivityVue
        v-for="activity of activities.values()"
        :key="activity.id"
        :activity="activity"
        @edit="editActivity(activity.id)"
      />
    </section>
    <ActivityEdit :activity-id="activityToEdit" @closed="editActivity(null)" />
  </section>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import '@material/web/iconbutton/standard-icon-button'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/filled-button'
import ActivityEdit from './ActivityEdit.vue'

import { activities, Activity } from './Activity'
import ActivityVue from './ActivitySection.vue'

const activityToEdit = ref<Activity['id'] | null>(null)

const activityName = ref('')

function addActivity() {
  const activity = new Activity(activityName.value)
  activities.set(activity.id, activity)
  activityName.value = ''
}

function checkSubmit(event: KeyboardEvent) {
  if (event.code === 'Enter') addActivity()
}

function editActivity(id: Activity['id'] | null) {
  activityToEdit.value = id
}
</script>

<style lang="scss">
@use 'assets/base.scss';

.Activities {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__Bar {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__List {
    padding-top: 8px;
    display: grid;
    gap: 4px;
  }

  &__Activity {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;

    &Header {
      display: inline-flex;
    }
  }
}
</style>
