<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <md-dialog open class="ActivityEdit" ref="dialog" v-if="activity">
    <span slot="headline"> Edit activity</span>
    <div class="ActivityEdit__content">
      <md-outlined-text-field
        class="ActivityEdit__name"
        label="Name of activity"
        v-model="activity.name"
      />
    </div>

    <div slot="footer" class="ActivityEdit__footer">
      <md-standard-icon-button
        v-if="props.activityId"
        class="ActivityEdit__remove"
        @click="remove()"
        title="Remove this activity"
        >delete</md-standard-icon-button
      >

      <div class="ActivityEdit__divider"></div>
      <md-tonal-button @click="close()">Close</md-tonal-button>
    </div>
  </md-dialog>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { activities, Activity } from './Activity'
import '@material/web/dialog/dialog'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/tonal-button.js'

const dialog = ref()

const props = defineProps<{
  activityId: Activity['id'] | null
}>()

const activity = computed(() =>
  props.activityId ? activities.get(props.activityId) : undefined
)

function close() {
  dialog.value?.close()
}

function remove() {
  if (props.activityId) activities.delete(props.activityId)
  close()
}
</script>

<style lang="scss">
.ActivityEdit {
  background: var(--md-sys-color-surface);

  &__remove {
    --md-icon-button-unselected-icon-color: var(--md-sys-color-error);
  }

  &__content {
    padding: 16px 0;
  }

  &__footer {
    width: 100%;
    display: inline-flex;
  }

  &__divider {
    flex: 1;
  }
}
</style>
