<template>
  <div class="App background background-text" :class="{ dark: darkTheme }">
    <main class="App__Main">
      <ItemConfig class="App__Items" />
      <ActivityList class="App__Activities" />
      <div class="App__Sessions" />
    </main>

    <footer class="App__Footer">
      <h1>Plan your bag</h1>
      <span
        >Made with ❤️ by Thomas de Saint Exupery, more on
        <a href="https://gitlab.com/dolmen-public">Dolmen public</a>
      </span>
      <md-text-button label="Toggle theme" @click="darkTheme = !darkTheme"
        >Toggle theme</md-text-button
      >
    </footer>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import ItemConfig from './ItemConfig.vue'
import ActivityList from './ActivityList.vue'

import '@material/web/button/text-button.js'
import '@material/web/button/outlined-button.js'

const darkTheme = ref(
  matchMedia('(prefers-color-scheme: dark)')?.matches ?? false
)
</script>

<style lang="scss">
@use 'assets/base';
@use 'assets/mixins' as m;

/* semantic color variables for this project */
.App {
  padding: 0 32px;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  display: grid;
  grid-template-areas:
    'title'
    'main'
    'footer';
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;

  &__Main {
    width: 100%;
    grid-area: main;
    display: grid;
    gap: 64px;
    grid-template-areas:
      'items activities'
      'items sessions';
    grid-template-rows: minmax(min-content, auto) 1fr;
    grid-template-columns: minmax(min-content, auto) 1fr;

    @include m.for-phone-only() {
      grid-template-areas:
        'items'
        'activities'
        'sessions';
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 100%;
    }
  }

  @include m.for-phone-only() {
    gap: 32px;
  }

  &__Items {
    grid-area: items;
  }

  &__Activities {
    grid-area: activities;
  }
  &__Sessions {
    grid-area: sessions;
  }

  &__Footer {
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(min-content, auto) 1fr minmax(
        min-content,
        auto
      );
    align-items: baseline;
    gap: 16px;
    padding: 1rem;

    @include m.for-phone-only() {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
    }
  }
}
</style>
