<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <md-dialog open class="ItemEdit" ref="dialog" v-if="item">
    <span slot="headline"> Edit item</span>
    <div class="ItemEdit__content">
      <md-outlined-text-field
        class="ItemEdit__name"
        label="Name of item"
        v-model="item.name"
      />
    </div>

    <div slot="footer" class="ItemEdit__footer">
      <md-standard-icon-button
        v-if="props.itemId"
        class="ItemEdit__remove"
        @click="remove()"
        title="Remove this item"
        >delete</md-standard-icon-button
      >

      <div class="ItemEdit__divider"></div>
      <md-tonal-button @click="close()">Close</md-tonal-button>
    </div>
  </md-dialog>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { items, Item } from './Item'
import '@material/web/dialog/dialog'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/tonal-button.js'

const dialog = ref()

const props = defineProps<{
  itemId: Item['id'] | null
}>()

const item = computed(() =>
  props.itemId ? items.get(props.itemId) : undefined
)

function close() {
  dialog.value?.close()
}

function remove() {
  if (props.itemId) items.delete(props.itemId)
  close()
}
</script>

<style lang="scss">
.ItemEdit {
  background: var(--md-sys-color-surface);

  &__remove {
    --md-icon-button-unselected-icon-color: var(--md-sys-color-error);
  }

  &__content {
    padding: 16px 0;
  }

  &__footer {
    width: 100%;
    display: inline-flex;
  }

  &__divider {
    flex: 1;
  }
}
</style>
