<template>
  <section class="Items">
    <h2>Items ({{ items.size }})</h2>
    <div class="Items__Bar">
      <md-outlined-text-field
        label="Name of item to add"
        v-model="itemName"
        @keypress="checkSubmit"
      />
      <md-filled-icon-button
        class="Items__Add"
        @click="addItem"
        aria-label="Add new item"
        >Add</md-filled-icon-button
      >
    </div>
    <div class="Items__List">
      <div class="Items__Item" v-for="item of sortedItems" :key="item.id">
        <ItemTag :item-id="item.id" class="Items__ItemName" />
        <div class="Items__ItemStat">
          <md-standard-icon-button
            @click="edit(item.id)"
            aria-label="Remove this item"
            >edit</md-standard-icon-button
          >
        </div>
      </div>
    </div>
    <ItemEdit :item-id="itemToEdit" @closed="edit(null)" />
  </section>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import '@material/web/iconbutton/standard-icon-button'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/filled-button'

import ItemEdit from './ItemEdit.vue'
import ItemTag from './ItemTag.vue'
import { items, Item, sortedItems } from './Item'

const itemToEdit = ref<Item['id'] | null>(null)

const itemName = ref('')

function addItem() {
  const item = new Item(itemName.value)
  items.set(item.id, item)
  itemName.value = ''
}

function checkSubmit(event: KeyboardEvent) {
  if (event.code === 'Enter') addItem()
}

function edit(id: string | null) {
  itemToEdit.value = id
}
</script>

<style lang="scss">
@use 'assets/base.scss';

.Items {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__Bar {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__List {
    padding-top: 8px;
    display: grid;
    gap: 4px;
  }

  &__Item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;

    &Stat {
      display: flex;
      flex: 1 1 auto;
      justify-content: end;
      align-items: center;
    }
  }
}
</style>
