<template>
  <div
    :class="classes"
    class="ItemTag"
    @click="focus"
    draggable="true"
    @dragstart="dragStart"
    @dragend="dragEnd"
  >
    <span>{{ item?.name }}</span>
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { focusItemId, items, type Item, draggedItemId } from './Item'

const props = defineProps<{
  itemId: Item['id']
}>()

const dragged = ref(false)
const item = computed(() => items.get(props.itemId))

const classes = computed(() => ({
  'ItemTag--focus': focusItemId.value === item.value?.id,
  'ItemTag--dragged': dragged.value,
}))

function focus() {
  if (item.value?.id) focusItemId.value = item.value?.id
}

function dragStart() {
  if (item.value) {
    focus()
    draggedItemId.value = item.value?.id
    dragged.value = true
  }
}

function dragEnd() {
  dragged.value = false
}
</script>

<style lang="scss">
.ItemTag {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 8px;
  padding: 0px 8px;
  height: 32px;

  &--focus {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
  &--dragged {
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
  }
}
</style>
