<template>
  <section
    :class="classes"
    @dragover.prevent="dragOver = true"
    @dragenter.prevent="dragOver = true"
    @dragleave.prevent="dragOver = false"
    @drop.prevent="drop"
  >
    <h4 class="Storage__Title">{{ title }}</h4>
    <ul class="Storage__Items">
      <li v-for="itemId of itemIds" :key="itemId" class="Storage__Item">
        <ItemTag :item-id="itemId">
          <md-standard-icon-button
            @click="removeItem(itemId)"
            aria-label="Remove item"
            >close</md-standard-icon-button
          >
        </ItemTag>
      </li>
      <span v-if="itemIds.length === 0" class="Storage__NoItems"
        >No items. Add some by dragging them from the list</span
      >
    </ul>
  </section>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { addDraggedItem, type Activity } from './Activity'
import { Slot } from './Storage'
import type { Item } from './Item'
import ItemTag from './ItemTag.vue'

const props = defineProps<{
  activity: Activity
  location: Slot
}>()

const dragOver = ref(false)
const title = computed(() => {
  switch (props.location) {
    case Slot.combatBag:
      return 'Musette'
    case Slot.self:
      return 'PAX'
    default:
      return 'F2'
  }
})
const classes = computed(() => ({
  Storage: true,
  'Storage--asTarget': dragOver.value,
}))

const itemIds = computed(() =>
  [...props.activity.storage.entries()]
    .filter((entry) => entry[1] === props.location)
    .map((entry) => entry[0])
)

function removeItem(itemId: Item['id']) {
  props.activity.storage.delete(itemId)
}

function drop(event: DragEvent) {
  event.preventDefault()
  dragOver.value = false
  addDraggedItem(props.activity.id, props.location)
}
</script>

<style lang="scss">
@use 'assets/base.scss';

.Storage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border 200ms ease-out;
  padding: 8px;

  &__Items {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 4px;
  }

  &--asTarget {
    border-color: var(--md-sys-color-primary);
  }

  &__NoItems {
    font-style: italic;
  }
}
</style>
